* {
  font-family: Roboto, sans-serif;
  border-radius: 15px;
  color: #DCD0C0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #373737;
  box-shadow: 10px 10px 15px #AAA;
}

.intro {
  padding: 10px;
}

.logo {
  width: 125px;
  float: left;
}

.myName {
  text-align: right;
  line-height: 10px;
}

.myTitle {
  text-align: right;
  font-size: 24px;
  margin-bottom: 30px;
}

.banner {
  width: 920px;
}

.featured {
  border: 1px solid #FFF;
  margin-bottom: 10px;
  padding: 15px;
}

.projectsTitle {
  margin: 1px;
}

.projects {
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.projects .image {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 275px;
  margin: .6vw;
  text-align: center;
}

.projects .image img {
  width: 100%;
  height: auto;
}

.imageLabel {
  font-size: 22px;
  font-weight: bolder;
  line-height: 1px;
}

.imageLink {
  font-size: 14px;
}

@media only screen
  and (min-device-width: 412px)
  and (max-device-width: 732px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    width: 380px;
  }
  .logo {
    width: 100px;
  }
  .myName {
    font-size: 22px;
  }
  .myTitle {
    font-size: 20px;
  }
}

@media only screen
  and (min-device-width: 412px)
  and (max-device-width: 732px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    width: 640px;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    width: 740px;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    width: 900px;
    ;
  }
}
