* {
  font-family: Roboto, sans-serif;
  border-radius: 15px;
  color: #DCD0C0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #373737;
  box-shadow: 10px 10px 15px #AAA;
}

.intro {
  padding: 10px;
}

.logo {
  width: 125px;
  float: left;
}

.my-name {
  text-align: right;
  line-height: 10px;
}

.my-title {
  text-align: right;
  font-size: 24px;
  margin-bottom: 30px;
}

.banner {
  width: 920px;
}

.featured {
  border: 1px solid #FFF;
  margin-bottom: 10px;
  padding: 15px;
}

.projects-title {
  margin: 1px;
}

.projects {
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  -webkit-flex-flow: row wrap;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.projects .image {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 275px;
  margin: .6vw;
  text-align: center;
}

.projects .image img {
  width: 100%;
  height: auto;
}

.image-label {
  font-size: 22px;
  font-weight: bolder;
  line-height: 1px;
}

.image-link {
  font-size: 14px;
}

@media (min-width:320px) {
  .banner {
    width: 380px;
  }
}

@media (min-width:480px) {
  .banner {
    width: 460px;
  }
}

@media (min-width:640px) {
  .banner {
    width: 620px;
  }
}

@media (min-width:780px) {
  .banner {
    width: 760px;
  }
}

@media (min-width:960px) {
  .banner {
    width: 900px;
  }
}

@media (min-width:1024px) {
  .banner {
    width: 940px;
  }
}
